NEXT_PUBLIC_CHATRIGO_BASE_URL=https://stgapp.chatrigo.id
NEXT_PUBLIC_CHATRIGO_API_URL=https://stgappapi.chatrigo.id
NEXT_PUBLIC_CHATRIGO_WEBSITE_TOKEN=
NEXT_PUBLIC_CHATRIGO_BUSINESS_ID=
NEXT_PUBLIC_CHATRIGO_POSITION=right
NEXT_PUBLIC_CHATRIGO_TYPE=standard
